/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  orange: #ff7f00,
  gray: #aaaaaa,
  white: #ffffff,
  black: #000000
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
